#movie_player {
    border-radius: 12px;
}

.ytd-player, .video-stream, .html5-main-video{
    border-radius: 12px;
}

ytd-toggle-button-renderer.ytd-live-chat-frame, .yt-spec-button-shape-next--mono.yt-spec-button-shape-next--text:hover{
    border-radius: 0 0 12px 12px !important;
}
